.bg{
    background: #159957;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #155799, #159957);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #155799, #159957); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
body{
     background: #44A08D;
background: -webkit-linear-gradient(to right, #093637, #44A08D);
background: linear-gradient(to right, #093637, #44A08D); 
/* 
background: #4B79A1; 
background: -webkit-linear-gradient(to right, #283E51, #4B79A1);  
background: linear-gradient(to right, #283E51, #4B79A1); */
background: #2980b9;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #2c3e50, #2980b9);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #2c3e50, #2980b9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
font-family: 'Open Sans', sans-serif;
}

.navbar-brand{
    color:black;
    margin-left: 3em;
    font-size: 2em;
   
}
.mt-100{
    margin-top: 2em;

}
.mt-50{
    margin-top: 20px;
}
.btn-primary{
    width: 100%;
    border-radius: 8px;
    
}
.navbar-custom {
    background-color: black;
}
.navbar-nav .nav-item .nav-link {
    height: 50px;
    color: whitesmoke;
   
}

/* .navbar-light .navbar-nav .nav-link {
    color: #000;
  } */
.card{
    margin-top: 2em;
    width: 500px;
    /* background: hsl(168, 40%, 45%); */
    /* background: #1e3c72; */
    /* color:   whitesmoke; */
  font-family: Arial, Helvetica, sans-serif;
  border: none;
}

.btn-success:hover{
    border: 1px solid lightseagreen;
}

.btn-lg{
    margin-top: 2em;
    font-size: 1.4em;
}

.form-label{
    /* font-weight: bold; */
    font-size: large;
}

.heading{
    margin-left:0.2em;
}

.header{
    width:600px;
    height: 550px;
    background-color:steelblue;
}

input.form-control:focus{
    border-bottom: 5px solid #4B79A1;
}
input:invalid{
    outline: solid 2px red;
}
input.form-control{
    accent-color: #ff2d73;

}
.main{
    width: 690px;
    height: 350px;
    margin-left: 10em;
    background: white;
    border: 1px solid #2c3e50;

}

.card-title{
    font-size: 60px;
    font-family: 'Libre Baskerville', serif;
    letter-spacing: 2px;
    color: aqua;
}

