{% extends 'base.html' %}
{% block body %}
<div class="container " >
  <div class="row">
    <div class="col-md-10" style="text-align: center;">
      <h1 class=" display-5 mt-100 " style="font-size: 80px;">Resume parser</h1>
      <div class="">
        <a class="btn btn-outline-info mx-3 btn-lg" href="/cand_login" role="button">
          Candidate Login
        </a>
        <a class="btn btn-outline-info mx-3 btn-lg" href="/comp_login" role="button">
          Company Login
        </a>

        </button>
      </div>
    </div>
  </div>
</div>
{% endblock body %}