{% extends 'base.html' %}
{% block title %}
Resume Parsing
    {% endblock title %}
{% block body %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Upload Your Resume Here </title>
  </head>
  <body>
  <h3 class="text-light display-5 "><br>Upload Your Resume Here<br> </h3>
  
        <p>
         {% with messages = get_flashed_messages() %}
           {% if messages %}
          {% for message in messages %}
            <div class="alert alert-primary">
             <strong>{{ message }}</strong>
           </div>
          {% endfor %}
           {% endif %}
         {% endwith %}
        </p>
<form method="post" action="/upload" enctype="multipart/form-data">
 

   <input type="file" name="inputFile" autocomplete="off" required onchange="loadFile(event)">
  </p>
    <p>
  <input type="submit" value="Submit">
 </p>
</form>
<img id="output" width="500"/>

 
<style>
.alert-primary {
    color: #004085;
    background-color: #cce5ff;
    border-color: #b8daff;
}
.alert {
    position: relative;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
}
</style>
    </body>
</html>
{% endblock body %}